.Recipe{
    display: flex;
    flex-flow:row wrap;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
}




.recipeItem{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    margin: 20px;
    width: 27%;


    border-radius: 10%;
}

@media (max-width:400px){
    .recipeItem{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: calc(10px + 2vmin);
        margin: 5px;
        padding:0px;
        width: 100%;
        border-radius: 10%;
    }
}

.recipeTitle{
    padding: 1%;
    align-items: center;
    justify-content: center;
    font-size: 1vw;
    margin: 0;
    color:white;
    background-color: #6c757d;
    position: absolute;
    height: auto;
    max-width: 15%;
}

.btn-outline-secondary{
    width: 80%;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    text-align: center;
    outline:none;
    border:none;
}

.viewIngredients{
    align-items: center;
    font-size: calc(10px + 1vmin);
    color: rgb(2, 2, 2);  margin: 0;
    font-family: 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.recipeImg{
    height: auto;
    width: 90%;
    max-width: 100%;
    border-radius: 10%;
}

